<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- Declare the test runner for Flutter integration tests when built with -Ptarget -->
    <!-- This allows the debug APK to be used as an instrumentation test APK for Firebase Test Lab -->
    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.flappyjet.pro.flappy_jet_pro"
        android:label="Flutter integration tests" />
</manifest>
